/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

/* Common Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #2D25A0;
}
/* nav-bar styles start */
nav {
    margin-left: 156px;
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffff;
    margin-right: 36px;
    border: 1px solid rgba(255, 255, 255, 0);   
}
.login-button a {
    background-color: #E02C6D;
    transition: background-color 5s;
    padding: 10px 24px;
    text-align: center;
    color: white;
}
  /* requirment change something - background */

.login-button a:hover{
    background-color: aqua;
}
.fa-sign-in-alt {
    color: #ffff;
    font-size: 16px;

}
/* nav-bar styles End */

/* top banner styles starts */
.flexible-container{
    display: flex;
    margin-bottom: 70px;
    margin-top: 150px;
}
.half-width{
    width: 50%;
    padding-left: 156px;
    padding-bottom: 169px;
}
.half-width h1 {
    font-size: 64px;
    color: #ffffff;
}    
.half-width span {
    background-color: #E02C6D;
    transition: background-color 5s;
    padding: 10px 24px;
}
/* requirment change something - background */

.half-width span:hover{
    background-color:aqua;
}
.half-width span a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}
.fa-arrow-right {
    color: #ffffff;
}
.half-width img {
    width: 557px;
    height: 438px;
}
/* top banner styles End */

 /* Player Photo & details strat  */
 .container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
    display: flex;
    align-items: center;
    margin-bottom: 165px;
}
.Player-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    margin-left: 180px;
}

.Player-card .Player-card-banner img {
    width: 300px;
    height: 256px;
}

.card-details h1 {
    font-size: 28px;
    line-height: 40px;
}
.cards-p {
    font-size: 16px;
    
}
.Player-card {
    box-shadow: 10px 10px 5px whitesmoke;
    border-radius: 5px;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid white;
    
}
 /* Player Photo & details end  */


 /* Highlights section starts */
 .highlights-section{
    margin-bottom: 158px;
}
 #highlights-h1{
     color: black;
     font-size: 48px;
     line-height: 60px;
 }
 #highlights-p{
     font-size: 16px;
     line-height: 28px;
     font-weight: 400;
     margin-bottom: 24px;
     color: #6C6C6C;
 }
 .bottom-img{
    margin-right: 80px;
}
 /* Highlights section end */